header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgb(229 231 235);
  z-index: 20;
  padding: 0 3rem;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  line-height: 4rem;
}
.menu {
  display: flex;
  width: 200px; /* 이렇게 하기보다는 li마다 마진을 주는게 나으려나?*/
  justify-content: space-between;
}

main {
  margin: 80px 0 0 0;
  padding: 20px 0 20px 0;
}

footer {
  width: 100%;
}