header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: powderblue;
  box-shadow: 0 0 3px #000;
  z-index: 20;
  padding: 0 16px;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  line-height: 60px;
}

main {
  background-color: chartreuse;
}
.main__wrapper {
  margin: 60px 0 0 0;
  padding: 20px 0 20px 0;
}

footer {
  width: 100%;
  background-color: tomato;
}